set default=0
set timeout=5

menuentry "AiOS - Autonomous Intelligent Operating System (Immutable Reference Image)" {
    linux /boot/vmlinuz quiet splash boot=casper init=/lib/systemd/systemd
    initrd /boot/initrd
}