set default=0
set timeout=5

insmod font
if loadfont /boot/grub/fonts/unicode.pf2 ; then
  insmod gfxterm
  set gfxmode=800x600
  insmod gfxmenu
  terminal_output gfxterm
fi

menuentry "AI_OS Live (VM Compatible Mode)" {
    search --set=root --file /boot/vmlinuz
    linux /boot/vmlinuz boot=live nomodeset vga=788 console=tty1 console=ttyS0,115200 init=/bin/core-daemon
    initrd /boot/initrd.img
}
